root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
max_line_length = off
trim_trailing_whitespace = true

[*.{json}]
insert_final_newline = unset

[.vscode/**]
insert_final_newline = unset
